
{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if messages %}
        <div id="queryRecords" class="mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} d-flex justify-content-between align-items-center">
                    <span class="fs-4 d-flex align-items-center mx-3 gap-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                        {{ message }}
                    </span>
                    <button class="btn-close" onclick="closeMessage()"> </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- filter form -->
    <form id="queryForm" method="POST">
        {% csrf_token %}
        
        <div class="d-flex flex-column">
            <div>
                <input type="text" class="filter p-3 col-3" name="keyword" placeholder="Keyword">

                <select name="industry" class="filter p-3 col-3">
                    <option value="None">Industry</option>
                    {% for i in industry %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                
                <select name="year_founded" class="filter p-3 col-3">
                    <option value="None">Year Founded</option>
                    {% for i in year_founded %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
                
            <br>

            <div>  
                <select name="city" class="filter p-3 col-3">
                    <option value="None">City</option>
                    {% for i in city %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                
                <select name="country" class="filter p-3 col-3">
                    <option value="None">Country</option>
                    {% for i in country %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <br>

            <div>
                <select name="emp_from" class="filter p-3 col-3"> 
                    <option value="None">Employees (From)</option> 
                    {% for i in employee_from %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                
                <select name="emp_to" class="filter p-3 col-3">
                    <option value="None">Employees (To)</option>
                    {% for i in employee_to %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <br>
        <button id="queryBtn" class="mt-5 btn btn-primary p-3 col-3" type="submit">
            Query Date
        </button>
        <button class="mt-5 mx-5 btn btn-secondary p-3 col-2" type="reset">
            Reset
        </button>
    </form>

{% endblock %}